
<form #tweetForm>
  <mat-form-field class="input">
    <mat-label>Giveaway tweet</mat-label>
    <input matInput name="giveawayTweet" [(ngModel)]="giveawayTweet" placeholder="Giveaway tweet" #giveawayTweetInput="ngModel"/>
  </mat-form-field>
  <button (click)="getTweets()" mat-flat-button color="primary">Select winner</button>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading && winnerSelected">
  <div>Winner reply is:</div>
  <div [innerHtml]="tw.html"></div>
  <div>Reply {{tw.index}} out of {{tw.total}} selected</div>
</div>
